* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0px;
  color: #FAF3DD;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 1.8em;
  font-weight: bold;
}

.drag-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#panel-left {
  background-color: #F2B8C5;
  flex: .4;
}

#panel-right {
  flex: .6;
  background-color: #8DA8C8;
}

.panel-probability {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  justify-content: center;
}

.prob-statement {
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-left {
  flex: .7;
}

#bottom-left {
  flex: .3;
}

#top-right {
  flex: .4;
}

#bottom-right {
  flex: .6;
}

#tl-a {
  flex: 1;
  background-color: #8FC0A9;
}

#tr-a {
  flex: 1;
  background-color: #7DBAC0;
}

#bl-a {
  background-color: #EDB090;
  flex: 1;
}

#br-a {
  background-color: #E49D9F;
  flex: 1;
}

#tl-b {
  flex: 0;
  background-color: rgb(160,160,160);
}

#tr-b {
  flex: 0;
  background-color: rgb(180,180,180);
}

#bl-b {
  background-color: rgb(90,90,90);
  flex: 0;
}

#br-b {
  background-color: rgb(130,130,130);
  flex: 0;
}

.statement, .probability {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
  padding: 0px 10px;
}

.box .probability { display: none; }
.box:hover .probability { display: inline; }
.box:hover .statement { display: none; }


.hor-dragbar {
  padding: 10px;
  cursor: row-resize;
}

#right-dragbar {
  background-color: rgb(160,160,160);
}

#left-dragbar {
  background-color: rgb(180,180,180);
}

.vert-dragbar {
  padding: 10px;
  cursor: col-resize;
  background-color: #FAF3DD;
}
