* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0px;
}

.drag-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.panel {
  background-color: whitesmoke;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

#panel-right {
  flex: 1;
  background-color: darkgrey;
}

.prob-box {
  height: 80vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-right, #bottom-left {
  background-color: red;
  flex: 1;
}

.probability {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.prob-box .statement { display: none; }
.prob-box:hover .probability { display: none; }
.prob-box:hover .statement { display: inline; }


.hor-dragbar {
  padding: 8px;
  cursor: row-resize;
  background-color: silver;
}

.vert-dragbar {
  padding: 8px;
  cursor: col-resize;
  background-color: grey;
}
