<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/viz.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/viz.css') }}">
</head>


<div class="drag-container">
  <div class="panel" id="panel-left">
    <div class="panel-probability">
      <span class="probability"></span>
      <span class="statement">P(A)</span>
    </div>
    <div class="prob-box" id="top-left">
      <span class="probability"></span>
      <span class="statement">P(A|B)</span>
    </div>
    <div class="hor-dragbar" id="left-dragbar"></div>
    <div class="prob-box" id="bottom-left">
      <span class="probability"></span>
      <span class="statement">P(A|!B)</span>
    </div>
  </div>
  <div class="vert-dragbar" id="middle-dragbar"></div>
  <div class="panel" id="panel-right">
    <div class="prob-box" id="top-right">
      <span class="probability"></span>
      <span class="statement">P(!A|B)</span>
    </div>
    <div class="hor-dragbar" id="right-dragbar"></div>
    <div class="prob-box" id="bottom-right">
      <span class="probability"></span>
      <span class="statement">P(!A|!B)</span>
    </div>
    <div class="panel-probability">
      <span class="probability"></span>
      <span class="statement">P(!A)</span>
    </div>
  </div>
</div>

</html>
