<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="../static/icon.png">
  <title>Bayes' Visualizer</title>
  <!-- stylesheet and script for flask -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'js/viz.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/viz.css') }}">
  <!-- stylesheet and script for static html instance -->
  <script type="text/javascript" src="../static/js/viz.js"></script>
  <link rel="stylesheet" href="../static/css/viz.css">
</head>


<div class="drag-container">
  <div class="panel" id="panel-left">
    <div class="panel-probability">
      <span class="probability"></span>
      <span class="statement">P(A)</span>
    </div>
    <div class="box" id="top-left">
      <div class="prob-statement" id="tl-a">
        <span class="probability"></span>
        <span class="statement">P(A|B)</span>
      </div>
      <div class="prob-statement" id="tl-b">
        <span class="probability"></span>
        <span class="statement">P(B|A)</span>
      </div>
    </div>
    <div class="hor-dragbar" id="left-dragbar"></div>
    <div class="box" id="bottom-left">
      <div class="prob-statement" id="bl-a">
        <span class="probability"></span>
        <span class="statement">P(A|!B)</span>
      </div>
      <div class="prob-statement" id="bl-b">
        <span class="probability"></span>
        <span class="statement">P(!B|A)</span>
      </div>
    </div>
  </div>
  <div class="vert-dragbar" id="middle-dragbar"></div>
  <div class="panel" id="panel-right">
    <div class="box" id="top-right">
      <div class="prob-statement" id="tr-a">
        <span class="probability"></span>
        <span class="statement">P(!A|B)</span>
      </div>
      <div class="prob-statement" id="tr-b">
        <span class="probability"></span>
        <span class="statement">P(B|!A)</span>
      </div>
    </div>
    <div class="hor-dragbar" id="right-dragbar"></div>
    <div class="box" id="bottom-right">
      <div class="prob-statement" id="br-a">
        <span class="probability"></span>
        <span class="statement">P(!A|!B)</span>
      </div>
      <div class="prob-statement" id="br-b">
        <span class="probability"></span>
        <span class="statement">P(!B|!A)</span>
      </div>
    </div>
    <div class="panel-probability">
      <span class="probability"></span>
      <span class="statement">P(!A)</span>
    </div>
  </div>
</div>

</html>
